.logo-text {
  font-family: 'Poiret One', cursive;
}
.projectCards {
  position: relative;
  width: 25%;
  float: left;
  margin-right: 4%;
  margin-left: 4%;
}
.positionImage {
  margin: 0 0 0 5%;
}
img {
  height: 200px;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}