<section class="testimonials wrapper">
    <div class="title animated wow fadeIn">
      <h2>ABOUT ME</h2>
      <hr class="separator"/>
    </div>

    <ul class="clearfix">
      <li class="animated wow fadeInDown">
        <h3>I AM....</h3>
        <p><img src="img/personal.png" alt="" class="quotes"/><br>Ogunwa Olaoluwa Fadekemi a software developer by profession who also loves to design and learn new things.
        <span class="triangle"></span>
        </p>
        <div class="client">
          <div class="client_details">
          </div>
        </div>
      </li>
      <li class="animated wow fadeInDown"  data-wow-delay=".2s">
        <h3>WHAT I DO</h3>
        <p><img src="img/whatIDo.png" alt="" class="quotes"/>My field includes researching, designing, implementing, and testing software.
        <span class="triangle"></span>
        </p>
        <div class="client">
          <div class="client_details">
          </div>
        </div>
      </li>
      <li class="animated wow fadeInDown"  data-wow-delay=".4s">
      <h3>WHERE I WORK</h3>
        <p><img src="img/work.png" alt="" class="quotes"/><br>I work as a software developer at The Andela Global Talent Accelerator.Andela is a global talent accelerator that produces world-class developers and connects them with top employers. In May last year, Iyin Aboyeji, former CEO of Fora and Andela Cofounder, via the startup, began recruiting software developers with little to no experience. It seemed counterintuitive at the time, but this plan has long paid off. Andela has gained in less than a year, the traction that most other startups only dream about and few can achieve in a decade.
        <span class="triangle"></span>
        </p>
        <div class="client">
          <div class="client_details">
          </div>
        </div>
      </li>
    </ul>
  </section><!--  End testimonials  -->


 