 <section class="blog_posts">
    <div class="wrapper">
      <div class="title animated wow fadeIn">
        <h2>Contact Me</h2>
        <h3>click on any image to navigate to the site</h3>
        <!-- <hr class="separator"/> -->
      </div>

      <ul class="clearfix">
        <li class="animated wow fadeInDown">
          <div class="media">
            <a href="http://ng.linkedin.com/pub/olaoluwa-ogunwa/b2/265/a70/en" target="_blank">
              <img src="img/linkedIn.png" alt=""/>
            </a>
          </div>
          <a href="http://ng.linkedin.com/pub/olaoluwa-ogunwa/b2/265/a70/en" target="_blank">
            <h1>Contact me on LinkedIn</h1>
          </a>
        </li>

        <li class="animated wow fadeInDown" data-wow-delay=".2s">
          <div class="media">
            <a href="https://www.facebook.com/olaoluwa.ogunwa" target="_blank">
              <img src="img/facebook.jpeg" alt=""/>
            </a>
          </div>          
          <a href="https://www.facebook.com/olaoluwa.ogunwa" target="_blank">
            <h1>Contact me on Facebook</h1>
          </a>
        </li>

        <li class="animated wow fadeInDown" data-wow-delay=".4s">
          <div class="media">
            <a href="https://twitter.com/phadekemy" target="_blank">
              <img src="img/twitter.png" alt=""/>
            </a>
          </div>
          <a href="https://twitter.com/phadekemy" target="_blank">
            <h1>Follow me on Twitter</h1>
          </a>
        </li>

        <li class="animated wow fadeInDown" data-wow-delay=".6s">
          <div class="media">
            <a href="https://github.com/andela-oogunwa" target="_blank">
              <img src="img/github.jpg" alt=""/>
            </a>
          </div>
          <a href="https://github.com/andela-oogunwa" target="_blank"><h1>Fork me on Github</h1>
        </a>
        </li>
      </ul>
    </div>
  </section><!--  End blog_posts  -->
